body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background: #172934;
    color: #B1D5E9; 
}

.button {
    /* background-color: #4CAF50; /* Green */
    background-color: #B1D5E9; /* Green */
    /* border: none; */
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid;
    border-radius: 25px;
}

.button:hover {
    background-color: green;
}
